name: Build JAR e Nativo Linux, Mac e Windows
on: push
jobs:
  build-create-release:
    name: Create Release
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: $(date) # ${{ github.sha }}
          release_name: Release $(date) # ${{ github.sha }}
          body: |
            Changes in this Release
            - ${{ github.sha }}
          draft: false
          prerelease: false
      
      - name: 'Write Upload URL To File'
        run: |
          echo "${{steps.create_release.outputs.upload_url}}" > upload_url.txt

      - name: 'Publish Upload URL'
        uses: actions/upload-artifact@v2
        with:
          name: 'upload_url.txt'
          path: 'upload_url.txt'

  build-linux-image:
    name: 'Build Non-Windows Image'
    strategy:
      matrix:
        os: ['ubuntu-18.04', 'macos-latest']
        include:
          - os: 'ubuntu-18.04'
            label: 'linux'
          - os: 'macos-latest'
            label: 'mac'
    runs-on: ${{matrix.os}}
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2

      - name: 'Setup Java 11'
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: 'Get Version Number'
        run: |
          ./mvnw --version

      - name: 'Packaging uber-jar'
        run: |
          ./mvnw -B clean package -Dquarkus.package.type=uber-jar
          ls -lah target

      - name: 'Upload uber-jar'
        uses: actions/upload-artifact@v2
        with:
          name: projeto-0.0.1-SNAPSHOT-runner-${{matrix.label}}.jar
          path: target/projeto-0.0.1-SNAPSHOT-runner.jar

      - name: 'Get Release URL'
        uses: actions/download-artifact@v2
        with:
          name: 'upload_url.txt'

      - name: 'Get Upload URL'
        run: echo UPLOAD_URL=$UPLOAD_URL
        env:
          UPLOAD_URL: $(cat upload_url.txt)

      - name: Upload Release Asset JAR
        # id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{env.UPLOAD_URL}}
          asset_path: ./target/projeto-0.0.1-SNAPSHOT-runner.jar
          asset_name: projeto-0.0.1-SNAPSHOT-runner-${{matrix.label}}.jar
          asset_content_type: application/java-archive

      - name: 'Setup GraalVM Environment'
        uses: DeLaGuardo/setup-graalvm@3.0
        with:
          graalvm-version: '20.3.0.java11'

      - name: 'Install Native Image Plugin'
        run: |
          gu install native-image

      - name: 'Build Native Linux'
        run: |
          ./mvnw -B clean package -Pnative -Dquarkus.native.container-build=false
          ls -lah target

      - name: 'Upload native'
        uses: actions/upload-artifact@v2
        with:
          name: projeto-0.0.1-SNAPSHOT-runner-${{matrix.label}}
          path: target/projeto-0.0.1-SNAPSHOT-runner

      - name: Upload Release Asset
        # id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{env.UPLOAD_URL}}
          asset_path: ./target/projeto-0.0.1-SNAPSHOT-runner
          asset_name: projeto-0.0.1-SNAPSHOT-runner-${{matrix.label}}
          asset_content_type: application/octet-stream

  build-windows-image:
    name: 'Build Windows Image'
    runs-on: windows-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      
      - name: 'Download GraalVM'
        run: |
          Invoke-RestMethod -Uri https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.1.0/graalvm-ce-java11-windows-amd64-20.1.0.zip -OutFile 'graal.zip'
      
      - name: 'Install GraalVM'
        run: |
          Expand-Archive -path 'graal.zip' -destinationpath '.'
      
      - name: 'Install Native Image'
        run: |
          graalvm-ce-java11-20.1.0\bin\gu.cmd install native-image
      
      - name: 'Set up Visual C Build Tools Workload for Visual Studio 2017 Build Tools'
        run: |
          choco install visualstudio2017-workload-vctools
      
      - name: 'Version'
        run: |
          ./mvnw.cmd --version

      - name: 'Build Native Image'
        shell: cmd
        env:
          JAVA_HOME: ./graalvm-ce-java11-20.1.0
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build\vcvars64.bat"
          ./mvnw.cmd -B clean package -Pnative

      - name: 'DIR TARGET'
        run: |
          dir target

      - name: 'Upload native'
        uses: actions/upload-artifact@v2
        with:
          name: projeto-0.0.1-SNAPSHOT-runner.exe
          path: target/projeto-0.0.1-SNAPSHOT-runner.exe

      - name: 'Get Release URL'
        uses: actions/download-artifact@v2-preview
        with:
          name: 'upload_url.txt'

      - name: 'Get Upload URL'
        run: echo UPLOAD_URL=$UPLOAD_URL
        env:
          UPLOAD_URL: $(cat upload_url.txt)
        shell: bash

      - name: Upload Release Asset
        # id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{env.UPLOAD_URL}}
          asset_path: target/projeto-0.0.1-SNAPSHOT-runner.exe
          asset_name: projeto-0.0.1-SNAPSHOT-runner.exe
          asset_content_type: application/octet-stream
